@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap");
@use 'sass:math';
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*="_icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"]::before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-car:before {
  content: "\e901";
}

._icon-check:before {
  content: "\e902";
}

._icon-chevron-up:before {
  content: "\e903";
}

._icon-facebook:before {
  content: "\e904";
}

._icon-favorite:before {
  content: "\e905";
}

._icon-instagram:before {
  content: "\e906";
}

._icon-lock:before {
  content: "\e907";
}

._icon-logo:before {
  content: "\e908";
}

._icon-play:before {
  content: "\e909";
}

._icon-plus:before {
  content: "\e90a";
}

._icon-search:before {
  content: "\e90b";
}

._icon-shopping-bag:before {
  content: "\e90c";
}

._icon-support:before {
  content: "\e90d";
}

._icon-twitter:before {
  content: "\e90e";
}

._icon-user:before {
  content: "\e90f";
}

._icon-wallet:before {
  content: "\e910";
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
}

body {
  font-size: 1rem;
  color: #6c6b6b;
  font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #0a083a;
}

button {
  border: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*="container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1199.98px) {
  [class*="container"] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*="container"] {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  [class*="container"] {
    max-width: none;
  }
}

.title-h4 {
  padding-top: 23px;
  padding-bottom: 19px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.title-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-view__link {
  color: #ff3c78;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.title-view__link::before {
  transform: rotate(90deg);
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.price {
  color: #0a083a;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.04em;
}

.btn {
  color: white;
  background-color: #ff3c78;
  padding: 11px 50.2px;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  transition: background-color .3s ease 0s;
}

.btn:hover {
  background-color: #ff6897;
}

.btn::before {
  content: "";
  background: #FE97B7;
  width: 136px;
  height: 36px;
  filter: blur(24px);
  position: absolute;
  top: 23px;
  left: 20px;
  border-radius: 8px;
  z-index: -1;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.top-bar {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo ._icon-logo {
  color: #ff3c78;
  font-size: 48px;
}

.menu-nav {
  display: flex;
  gap: 200px;
}

.search-user-cart {
  display: flex;
  align-items: center;
  gap: 48px;
}

.search-user-cart__item {
  color: #0a083a;
  position: relative;
  font-size: 20px;
}

.search-user-cart__item span {
  background-color: #ff3c78;
  color: white;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7px;
  right: -9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 55px;
}

.menu__link {
  color: #0a083a;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.menu__link:hover {
  color: #ff3c78;
  transition: color .3s;
}

.menu__link:hover::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ff3c78;
  position: absolute;
  left: 50%;
  bottom: -16px;
  border-radius: 30px;
}

.icon-menu {
  display: none;
}

.intro {
  background-color: #f5f5f5;
  min-height: 985px;
  position: relative;
}

.intro-carous__item {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.intro-carous__content {
  width: 82%;
}

.intro-carous__title {
  color: #0a083a;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -0.04em;
}

@media (max-width: 767px) {
  .intro-carous__title {
    font-size: calc(32px + 68 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 767px) {
  .intro-carous__title {
    font-size: calc(32px + 40 * (100vw  / 1600));
  }
}

.intro-carous__text {
  padding-top: 31px;
  padding-bottom: 50px;
  color: #6c6b6b;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.intro-carous__picture {
  width: 100%;
}

.shop-heart {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 81px;
  position: relative;
}

.shop-heart ._icon-favorite {
  color: #ff3c78;
  font-size: 22px;
}

.ship-ret {
  display: flex;
  gap: 48px;
}

.ship-ret__item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.ship-ret ._icon-check::before {
  background-color: #02be83;
  color: white;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.featured-products {
  padding: 145px 0;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.04em;
}

.featured-products-carous {
  padding-top: 98px;
  padding-bottom: 80px;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  cursor: pointer;
}

.featured-products-carous__item {
  flex: 0 0 25%;
  scroll-snap-align: start;
  transition: all 0.2s;
}

.featured-products-carous__content {
  width: 74.1%;
}

.rating::before {
  content: '★★★★★';
  color: #FE7831;
  font-size: 18px;
}

.featured-products-carous::-webkit-scrollbar {
  height: 6px;
  width: 168px;
}

.featured-products-carous::-webkit-scrollbar-thumb,
.featured-products-carous::-webkit-scrollbar-track {
  border-radius: 8px;
}

.featured-products-carous::-webkit-scrollbar-thumb {
  background: #02be83;
}

.featured-products-carous::-webkit-scrollbar-track {
  background: #EBEBEA;
}

.football-volleyball {
  background-image: url(../img/football-volleyball/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  margin-bottom: 145px;
  display: flex;
  align-items: center;
}

.football-volleyball__item {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
}

.football-volleyball__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.football-volleyball__text {
  width: 59%;
}

.tgl {
  display: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: linear-gradient(97.49deg, #8AA8F8 -0.43%, #315BFF 144.53%);
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}

.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background-color: white;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.06));
  transition: all .2s ease;
}

.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}

.best-seller {
  padding-bottom: 145px;
}

.best-seller__title-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best-seller__check-text {
  display: flex;
  align-items: center;
  gap: 15px;
}

.best-seller__text {
  color: #0a083a;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.best-seller .lin-gd {
  position: relative;
}

.best-seller .lin-gd::before {
  content: "";
  position: absolute;
  left: 679px;
  top: 0;
  width: 100%;
  height: -webkit-fill-available;
  background: linear-gradient(270deg, #FF3C78 2.8%, #FFB2B2 100%);
  z-index: -1;
  transform: translate(-120%, 0px);
  border-radius: 0 30px 30px 0;
}

.best-seller-shoe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 63px;
}

.best-seller-shoe__title {
  padding: 21px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.04em;
}

.best-seller-btn {
  display: flex;
  padding-top: 44px;
}

.best-seller-btn .btn {
  background-color: #315bff;
}

.best-seller-btn .btn::before {
  background-color: #315bff;
}

.new-arrivals {
  background-color: #f5f5f5;
  padding: 100px 0;
}

.card-carous {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.card-carous__picture {
  position: relative;
  margin-bottom: 27px;
}

.card-carous__picture img {
  position: relative;
}

.card-carous__num {
  color: white;
  position: absolute;
  top: 16px;
  left: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
  z-index: 100;
}

.card-carous__plus {
  position: absolute;
  left: 151px;
  bottom: 19px;
  background-color: white;
  width: 49px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
}

.card-carous__content {
  padding-left: 10px;
}

.card-carous .slick-track {
  display: flex;
  gap: 14px;
}

.card-carous .slick-dots {
  bottom: -73px;
}

.card-carous .slick-dots li button::before {
  color: #c1c0c0;
  font-size: 12px;
}

.card-carous .slick-dots .slick-active button::before {
  color: #315bff;
}

.title-view-block__text {
  width: 30%;
  padding-top: 18px;
}

.why-choose-shop {
  padding: 100px 0;
}

.why-choose-shop__inner {
  display: flex;
  align-items: center;
  gap: 86px;
}

.why-choose-shop__video {
  flex: 0 1 60%;
  padding: 0px 0px 35% 0px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.why-choose-shop__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.why-choose-shop__content {
  flex: 0 1 40%;
}

.why-choose-shop__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.04em;
}

.why-choose-shop__text {
  padding-top: 36px;
  padding-bottom: 30px;
}

.benefits__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.benefits__title {
  display: flex;
  align-items: center;
  padding: 0;
}

.benefits__title::before {
  color: #315bff;
  padding-right: 30px;
  font-size: 31px;
}

.categories {
  margin-top: 100px;
}

.categories__title {
  padding-bottom: 20px;
  text-align: center;
}

.categories__text {
  width: 54.7%;
  text-align: center;
  margin: auto;
}

.categor-scroll {
  padding-top: 90px;
  padding-bottom: 144px;
  margin-bottom: 144px;
  display: flex;
  overflow-x: scroll;
  cursor: pointer;
  gap: 24px;
}

.categor-scroll__item {
  position: relative;
  flex: 0 0 31.94%;
  background-color: #f5f5f5;
  height: 382px;
  padding: 48px 32px;
  border-radius: 16px;
  transition: all 0.2s;
}

.categor-scroll__title {
  position: relative;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
}

.categor-scroll__title::after {
  content: "";
  background-repeat: no-repeat;
  width: 89px;
  height: 89px;
  position: absolute;
  top: 0;
  right: 0;
}

.categor-scroll .blue {
  color: #315bff;
}

.categor-scroll .blue::after {
  background-image: url(../img/categor-scroll/figure.svg);
}

.categor-scroll .orange {
  color: #FE7831;
}

.categor-scroll .orange::after {
  background-image: url(../img/categor-scroll/figure2.svg);
}

.categor-scroll .pink {
  color: #FF3C78;
}

.categor-scroll .pink::after {
  background-image: url(../img/categor-scroll/figure3.svg);
}

.categor-scroll__text {
  padding-top: 18px;
  padding-bottom: 10px;
}

.categor-scroll__link {
  color: #315bff;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-decoration-line: underline;
}

.categor-scroll__link_orange {
  color: #FE7831;
}

.categor-scroll__link_pink {
  color: #FF3C78;
}

.categor-scroll__picture {
  position: absolute;
  bottom: -35px;
  right: 40px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.categor-scroll::-webkit-scrollbar {
  height: 6px;
  width: 168px;
}

.categor-scroll::-webkit-scrollbar-thumb,
.categor-scroll::-webkit-scrollbar-track {
  border-radius: 8px;
}

.categor-scroll::-webkit-scrollbar-thumb {
  background: #02be83;
}

.categor-scroll::-webkit-scrollbar-track {
  background: #EBEBEA;
}

.brands {
  background-color: #f5f5f5;
  padding: 100px 0;
  position: relative;
}

.brands::before {
  content: "";
  background-image: url(../img/brands/1.svg);
  background-repeat: no-repeat;
  width: 255px;
  height: 255px;
  position: absolute;
  top: 0;
  left: 0;
}

.brands__title {
  text-align: center;
}

.brand-carous {
  padding-top: 87px;
}

.brand-carous .slick-track {
  display: flex;
  gap: 32px;
}

.brand-carous__item {
  background-color: white;
  flex: 0 1 25%;
  padding: 11px;
  width: 255px;
  height: 200px;
  border-radius: 8px;
}

.brand-carous__picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #EBEBEA;
  border-radius: 8px;
}

.brand-carous .slick-prev, .brand-carous .slick-next {
  width: 24px;
  height: 24px;
  transform: translate(0, 135%);
}

.brand-carous .slick-prev::before {
  content: "\e903";
  font-family: "icons";
  color: #C1C0C0;
  display: flex;
  font-size: 24px;
  transform: rotate(-90deg);
}

.brand-carous .slick-next::before {
  content: "\e903";
  font-family: "icons";
  color: #315bff;
  display: flex;
  font-size: 24px;
  transform: rotate(90deg);
}

.subscribe {
  background: linear-gradient(97.49deg, #8AA8F8 -0.43%, #315BFF 144.53%);
  padding-top: 100px;
  padding-bottom: 30px;
}

.subscribe__body {
  display: flex;
  justify-content: space-between;
}

.subscribe__col {
  flex: 0 0 50%;
}

.subscribe__title {
  color: white;
  position: relative;
  padding-bottom: 90px;
}

.subscribe__title::before {
  content: "";
  background-image: url(../img/subscribe/2.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -49px;
  left: -152px;
  backdrop-filter: blur(20px);
}

.subscribe__picture {
  display: flex;
  justify-content: flex-end;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-form__input {
  width: 100%;
  height: 86px;
  background-color: #f5f5f5;
  color: #6c6b6b;
  border: 0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.subscribe-form__btn {
  height: 86px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  background-color: #315bff;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  text-transform: uppercase;
}

.social {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.social__item {
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 50%;
}

.footer {
  padding-top: 140px;
  padding-bottom: 50px;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__item {
  flex: 0 0 25%;
}

.footer__title {
  color: #0a083a;
  padding-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.04em;
}

.footer__text {
  width: 64%;
  padding-top: 23px;
  padding-bottom: 65px;
}

.footer-social {
  display: flex;
  gap: 32px;
}

.footer-social__link {
  color: #6c6b6b;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer-social__link::before {
  color: #ff3c78;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-menu__link {
  color: #6c6b6b;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer-information {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-information__link {
  color: #6c6b6b;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer-account {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-account__link {
  color: #6c6b6b;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer-copir {
  margin-top: 62px;
  padding-top: 62px;
  border-top: 1px solid #C1C0C0;
}

@media (max-width: 1199.98px) {
  .intro-carous__content {
    width: 100%;
  }
  .best-seller .lin-gd::before {
    left: 548px;
  }
  .title-view-block__text {
    width: 38%;
  }
  .why-choose-shop__inner {
    gap: 50px;
  }
  .why-choose-shop__video {
    padding: 0px 0px 44% 0px;
  }
  .categor-scroll__item {
    flex: 0 0 40%;
  }
}

@media (max-width: 991.98px) {
  .menu {
    display: none;
  }
  .menu-nav {
    gap: 48px;
  }
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 2.1875rem;
    height: 1.5rem;
    background: 0;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before {
    content: "";
    transform: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background: #0a083a;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu span {
    top: calc(52% - 2px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .featured-products-carous__item {
    flex: 0 0 33.333%;
  }
  .best-seller .lin-gd::before {
    left: 427px;
  }
  .title-view-block__text {
    width: 45%;
  }
  .why-choose-shop__inner {
    align-items: stretch;
    flex-direction: column;
  }
  .why-choose-shop__video {
    padding: 0px 0px 57% 0px;
  }
  .categor-scroll__item {
    flex: 0 0 48.3%;
  }
  .benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .benefits__item {
    justify-content: flex-start;
    gap: 60px;
  }
  .footer__body {
    row-gap: 25px;
  }
  .footer__item {
    flex: 0 0 50%;
  }
}

@media (max-width: 768px) {
  .featured-products-carous__item {
    flex: 0 0 50%;
  }
  .best-seller .lin-gd::before {
    left: 520px;
    height: 395px;
  }
  .best-seller__title-check {
    flex-direction: column;
  }
  .best-seller-shoe {
    flex-direction: column;
  }
  .best-seller .lin-gd::before {
    display: none;
  }
  .categor-scroll__item {
    flex: 0 0 60%;
  }
  .subscribe__body {
    flex-direction: column;
  }
  .subscribe__title {
    text-align: center;
  }
  .subscribe__picture {
    justify-content: center;
  }
  .social {
    padding-top: 32px;
    justify-content: center;
  }
}

@media (max-width: 646px) {
  .categor-scroll__item {
    flex: 0 0 100%;
  }
}

@media (max-width: 575.98px) {
  .featured-products-carous__item {
    flex: 0 0 100%;
  }
  .categories__text {
    width: 100%;
  }
  .footer__item {
    flex: 0 0 100%;
  }
  .footer__text {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .title-view-block__text {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 418px) {
  .benefits__title::before {
    padding-right: 12px;
  }
  .categor-scroll__item {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */