.featured-products {
  padding: 145px 0;
}
._icon-chevron-up {
}
.featured-products-carous {
  padding-top: 98px;
  padding-bottom: 80px;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  cursor: pointer;
  &__item {
    flex: 0 0 25%;
    scroll-snap-align: start;
    transition: all 0.2s;
  }
  &__picture {
  }
  &__content {
    width: 74.1%;
  }
  &__rating {
  }
}
.rating {
  &::before {
    content: '★★★★★';
    color: #FE7831;
    font-size: 18px;
  }
}
.featured-products-carous::-webkit-scrollbar {
  height: 6px;
  width: 168px;
}

.featured-products-carous::-webkit-scrollbar-thumb,
.featured-products-carous::-webkit-scrollbar-track {
  border-radius: 8px;
}

.featured-products-carous::-webkit-scrollbar-thumb {
  background: $greenColor;
}

.featured-products-carous::-webkit-scrollbar-track {
  background: #EBEBEA;
}



