.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.top-bar {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  ._icon-logo {
    color: $accentColor;
    font-size: 48px;
  }
}
.menu-nav {
  display: flex;
  gap: 200px;
}
.search-user-cart {
  display: flex;
  align-items: center;
  gap: 48px;
  &__item {
    color: $titleColor;
    position: relative;
    font-size: 20px;
    span {
      background-color: $accentColor;
      color: $whiteColor;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 7px;
      right: -9px;

      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 500;
      font-size: 10px;
      line-height: 10px;
      border-radius: 50%;
    }
  }
}
.menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 55px;
  &__link {
    color: $titleColor;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    &:hover {
      color: $accentColor;
      transition: color .3s;
    }
    &:hover::before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: $accentColor;
      position: absolute;
      left: 50%;
      bottom: -16px;
      border-radius: 30px;
    }
  }
}
.icon-menu {
  display: none;
}