.intro {
  // background-image: url(../img/header/bg.png);
  // background-position: center;
  // background-size: cover;
  background-color: #f5f5f5;
  min-height: 985px;
  position: relative;
}
.intro-carous {
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  &__item {
    display: flex;
    align-items: center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__content {
    // width: 82%;
    flex: 0 0 45%;
  }
  &__title {
    color: $titleColor;
    font-weight: 700;
    // font-size: 72px;
    @include adaptiv(72, 32);
    line-height: 80px;
    letter-spacing: -0.04em;
  }
  &__text {
    width: 60%;
    padding-top: 31px;
    padding-bottom: 50px;
    color: $textColor;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
  }
  &__link {

  }
  &__picture {
    // width: 100%;
    flex: 0 0 55%;
  }
}
.shop-heart {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 81px;
  position: relative;
  &__link {
  }
  ._icon-favorite {
    color: $accentColor;
    font-size: 22px;
  }
}


._icon-favorite {
}
.ship-ret {
  display: flex;
  gap: 48px;
  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  ._icon-check::before {
    background-color: $greenColor;
    color: $whiteColor;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
