//------------------------------- MAX-WIDTH 1700 ---------------------//
@media (max-width: 1700px) {
  
}
//------------------------------- MAX-WIDTH 1600 ---------------------//
@media (max-width: 1600px) {
  
}
//------------------------------- MAX-WIDTH 1570 ---------------------//
@media (max-width: 1570px) {
  
}
//------------------------------- MAX-WIDTH 1500 ---------------------//
@media (max-width: 1500px) { 
  
}
//------------------------------- MAX-WIDTH 1399.99 desktops ---------//
@media (max-width: 1399.99px) {
  
}
//------------------------------- MAX-WIDTH 1199.98 -----------------//
@media (max-width: 1199.98px) {
  .intro-carous {
    &__content {
      // width: 100%;
      flex: 0 0 50%;
    }
    &__text {
      width: 80%;
    }
  }
  .best-seller {
    .lin-gd {
        &::before {
        left: 548px;
      }
    }
  }
  .title-view-block {
    &__text {
      width: 38%;
    }
  }
  .why-choose-shop {
    &__inner {
      gap: 50px;
    }
    &__video {
      padding: 0px 0px 44% 0px;
    }
  }
  .categor-scroll {
    &__item {
      flex: 0 0 40%;
    }
  }
}
//------------------------------- MAX-WIDTH 990.98 tablets ----------//
@media (max-width: $tablet) {
  .menu {
    display: none;
  }
  .menu-nav {
    gap: 48px;
    align-items: center;
  }
  // burger---------------------------------------//
  .icon-menu {
    display: block;
    position: relative;
    // flex: 0 0 35px;
    width: 35px;
    height: 15px;
    background: 0;
    cursor: pointer;
    z-index: 5;
    &::after,
    &::before
    // &::after 
    {
      content: "";
      transform: all 0.3s ease 0s;
      left: 0;
      position: absolute;
      width: 100%;
      height: 3px;
      background: #272E35;
      border-radius: 5px;
    } 
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    // span {
    //   top: calc(52% - 2px);
    // }
    .menu-open & {
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }
      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
  .intro {
    min-height: 1450px;
  }
  .intro-carous {
    &__item {
      flex-direction: column;
    }
  }
  .featured-products-carous__item {
    flex: 0 0 33.333%;
  }
  .best-seller {
    .lin-gd {
        &::before {
        left: 427px;
      }
    }
  }
  .title-view-block {
    &__text {
      width: 45%;
    }
  }
  .why-choose-shop {
    &__inner {
      align-items: stretch;
      flex-direction: column;
    }
    &__video {
      padding: 0px 0px 57% 0px;
    }
  }
  .categor-scroll {
    &__item {
      flex: 0 0 48.3%;
    }
  }
  .benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item {
      justify-content: flex-start;
      gap: 60px;
    }
  }
  .football-volleyball {
    &__inner {
      flex-direction: column;
      &::before {
        left: 0;
        top: 50%;
        width: 100vw;
        transform: translate(0, -100%);
      }
      &::after {
        top: 50%;
        right: 0;
        width: 100vw;
        transform: translate(0, 0);
      }
    }
    &__item {
      flex-direction: column-reverse;
    }
  }
  .footer {
    &__body {
      row-gap: 25px;
    }
    &__item {
      flex: 0 0 50%;
    }
  }
} 
//------------------------------- MAX-WIDTH 885 ---------------------//
@media (max-width: 885px) {
  
}
//------------------------------- MAX-WIDTH 841 ---------------------//
@media (max-width: 842px) {
  
}
//------------------------------- MAX-WIDTH 767.98 landscape phones ---------------------//
@media (max-width: $mobile) {
  .featured-products-carous__item {
    flex: 0 0 50%;
  }
  .best-seller {
    .lin-gd {
        &::before {
        left: 520px;
        height: 395px;
      }
    }
    &__title-check {
      flex-direction: column;
    }
  }
  .best-seller-shoe {
    flex-direction: column;
  }
  .best-seller .lin-gd {
    &::before {
      display: none;
    }
  }
  .categor-scroll {
    &__item {
      flex: 0 0 60%;
    }
  }
  .subscribe {
    &__body {
      flex-direction: column;
    }
    &__title {
      text-align: center;
    }
    &__picture {
      justify-content: center;
    }
  }
  .social {
    padding-top: 32px;
    justify-content: center;
  }
}
@media (max-width: 646px) {
  .categor-scroll {
    &__item {
      flex: 0 0 100%;
    }
  }
}
//------------------------------- MAX-WIDTH 575.98 portrait phones ---------------------//
@media (max-width: 575.98px) {
  .search-user-cart {
    gap: 30px;
  }
  .intro {
    min-height: 1450px;
  }
  .intro-carous {
    &__item {
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      text-align: center;
      line-height: 40px;
    }
    &__text {
      text-align: center;
    }
  }
  .title-view {
    flex-direction: column;
    &__link {
      padding-top: 20px;
    }
  }
  .featured-products-carous {
    padding-top: 80px;
    &__item {
      flex: 0 0 100%;
    }
  }
  .title-view-block {
    &__text {
      width: 65%;
      text-align: center;
      margin: auto;
    }
  }
  .title {
    text-align: center;
  }
  .best-seller {
    &__check-text {
      padding-top: 20px;
    }
  }
  .categories {
    &__text {
      width: 100%;
    }
  }
  .footer {
    &__item {
      flex: 0 0 100%;
    }
    &__text {
      width: 100%;
    }
  }
}
//------------------------------- MAX-WIDTH 500 ---------------------//
@media (max-width: 500px) {
  .title-view-block {
    &__text {
      width: 100%;
      text-align: center;
    }
  }
}
//------------------------------- MAX-WIDTH 418 ---------------------//
@media (max-width: 418px) {
  .benefits {
    &__title::before {
      padding-right: 12px;
    }
  }
  .categor-scroll {
    &__item {
      padding: 20px;
    }
  }
}
