//---------------------------------------- Settings --------------------------------------//
// Минимальная ширина страницы
$minWidth: 320;

// Ширина полотна (макета)
$maxWidth: 1600; 

// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1200px; // 1170 + padding 0 15px = 1200px

// Ощий отступ у контейнера
// (15px слева и справа, 0 = нет отсупа)
$containerPadding: 15px;

// Тип адаптива
// 1 = отзывчивость (у контейнера не брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 768px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

//------------------------------- Подключение шрифта ---------------------//
//&display=swap - добавить в конец шрифта
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap');

//---------------------------------------- Font/Size --------------------------------------//
$fontFamily: 'Work Sans', sans-serif; // Шрифт по умолчанию

//---------------------------------------- Colors -----------------------------------------//

// colors button, icons, hover
$accentColor: rgb(255, 60, 120);

// цвет titles, price
$titleColor: rgb(10, 8, 58);

// цвет обычного текста
$textColor: rgb(108, 107, 107);

// button
$greenColor: rgb(2, 190, 131);

//
$blueColor: rgb(49, 91, 255);

// цвет белый
$whiteColor: rgb(255, 255, 255);

//---------------------------------------- shadow ----------------------------------------//
// поиск, карточка товара
// $shadowBlack: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);


// Как при помощи CSS обрезать длинный текст. Решение для однострочного текста
// text-overflow: ellipsis; //образка длинных блоков с текстом
// overflow: hidden; //прятать выходящий за пределы текст
// width: 100%; //ширина блока с текстом
// white-space: nowrap; //запрет на перенос текста

// Как при помощи CSS обрезать длинный текст. Решение для многострочного текста
  //   /*! autoprefixer: off */
  //   display: -webkit-box;
  //   -webkit-line-clamp: 2; // количество строк
  //   -webkit-box-orient: vertical;
  //   overflow: hidden;
  // }
  // /*! autoprefixer: on */